<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>BlackSpotDetection</display-name>
  <welcome-file-list>
    <welcome-file>login.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>LoginS</display-name>
    <servlet-name>LoginS</servlet-name>
    <servlet-class>com.rcpit.data.LoginS</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginS</servlet-name>
    <url-pattern>/LoginS</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Add_Police_Station</display-name>
    <servlet-name>Add_Police_Station</servlet-name>
    <servlet-class>com.rcpit.data.Add_Police_Station</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Add_Police_Station</servlet-name>
    <url-pattern>/Add_Police_Station</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Police_Station_Login</display-name>
    <servlet-name>Police_Station_Login</servlet-name>
    <servlet-class>com.rcpit.data.Police_Station_Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Police_Station_Login</servlet-name>
    <url-pattern>/Police_Station_Login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserLogin</display-name>
    <servlet-name>UserLogin</servlet-name>
    <servlet-class>com.rcpit.data.UserLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserLogin</servlet-name>
    <url-pattern>/UserLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>User_Registration</display-name>
    <servlet-name>User_Registration</servlet-name>
    <servlet-class>com.rcpit.data.User_Registration</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>User_Registration</servlet-name>
    <url-pattern>/User_Registration</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Add_Black_Sp</display-name>
    <servlet-name>Add_Black_Sp</servlet-name>
    <servlet-class>com.rcpit.data.Add_Black_Sp</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Add_Black_Sp</servlet-name>
    <url-pattern>/Add_Black_Sp</url-pattern>
  </servlet-mapping>
</web-app>